.inner_1 {
  margin: 5% 15% 0;
}

.inner_2 {
  margin: 0 15%;
}

.inner_3 {
  margin: 5% 20%;
}

.ttl {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.item {
  background: $gray;
  padding: 7%;
}